<!-- Contact -->
<div class="mb4">
    <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
        <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <div class="flex-l mhn1-l">
            <!-- Name -->
            <div class="ph1-l w-50-l">
                <fieldset>
                    <input type="text" id="name" name="name" placeholder="Name" required class="w-100 mb2">
                    <label for="name">Name</label>
                </fieldset>
            </div>
            <!-- Email -->
            <div class="ph1-l w-50-l">
                <fieldset>
                    <input type="email" id="email" name="email" placeholder="Email" required class="w-100 mb2">
                    <label for="email">Email</label>
                </fieldset>
            </div>
        </div>

        <div class="ph1-l">
        <!-- Message -->
        <fieldset>
            <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80"
                      class="w-100" required></textarea>
            <label for="message">Your message</label>
        </fieldset>
        </div>
        <!-- Button -->
        <div class="tc">
            <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
        </div>
    </form>
</div>
