<footer class="bg-black white">

	<div class="mw7 center">

		<div class="measure-narrow center">

			<img src="/img/logo.svg" alt="DynamicGuy logo" class="db w4 center br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Dynamic Guy</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://facebook.com/dynamicguy" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/dynamicguy" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://instagram.com/dynamicguy" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://vimeo.com/dynamicguy" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PHZ20JFFVV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PHZ20JFFVV');
</script>	
<!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'ay2JebikaMrLZx6Cs';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
