table {
  border-radius: var(--border-radius);
  width: 100%;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #dbdbdb;
}

td, th {
  padding: 5px;
}

th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}

tbody tr:last-child td {
  border-bottom: 1px solid #dbdbdb;
}

tbody tr:hover {background-color: #fffe76;}
